html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}


/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-color: black;
  border-width: 2px 1px 3px;
  border-radius: 6px;
  background-color: #A8A900;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  outline: 1;
  outline-style: groove;
  outline-color: #d61010b7;
  cursor: pointer;
}

.delete-btn {
  display: inline-block;
  padding: 10px 15px;
  border-color: black;
  border-width: 2px 1px 3px;
  border-radius: 6px;
  background-color: rgb(212, 37, 37);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  outline: 1;
  outline-style: groove;
  outline-color: #d61010b7;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #9a9a07;
  font-weight: bold;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: grey;
  outline-color: white;
  padding: 5px 10px;

}

.btn_asLink:hover {
  background-color: transparent;
  border-color: red;
  color: #A8A900;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.webText {
  max-width: 850px;
}

.qrCode {
  max-width: 500px;
}

.techDiv {
  max-width: 500px;
  display: inline;
}

.contactPhoto {
  max-width: 750px;
}

.vl {
  border-left: 6px solid #A8A900;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.contact {
  max-width: 500px;
}